body {
  font-family: "Work Sans", sans-serif;
}

.hover-link:hover {
  color: #f59a57;
  cursor: pointer;
}

.text-orange {
  color: #f59a57;
}

.btn-custom {
  background-color: #efeeeb;
  color: #000;
  border: none;
  font-size: 15px;
}

.sub-btn-custom {
  background-color: #f59a57;
  color: #ffffff;
  border: none;
}

.custom-navbar {
  background-color: #f8f8f8;
}
